<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 페이지</title>
    <link rel="stylesheet" th:href="@{/css/myaccount.css}" href="/css/myaccount.css">
</head>
<body>
    <div class="container">
        <div class="profile-card">
            <img class="profile-image" src="프로필 이미지 URL" alt="프로필 이미지">
            <div class="profile-info">
                <div class="info-item">
                    <span class="info-label">아이디:</span>
                    <span id="username" class="info-value"
                    th:text="${userDTO.getID()}">YourUsername</span>
                </div>
                <div class="info-item">
                    <span class="info-label">비밀번호:</span>
                    <span id="password" class="info-value">********</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>