<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>loco > pc</title>
		
		<!-- 외부 css -->
		<link rel="stylesheet" href="css/font.css"> <!-- 폰트 css -->
		<link rel="stylesheet" href="css/header.css"> <!-- 헤더 css -->
		<link rel="stylesheet" href="css/game_table.css"> <!-- 게임 목록 css -->
		<link rel="stylesheet" href="css/pagination.css"> <!-- 페이지네이션 css -->
		
		<style>	
			/*css 속성*/
			/*내용*/
			#content { 
						position: relative;
						top: 100px;
						left: 0px; /*헤더 아래부터*/
						width: 100%; height: calc(100% - 100px)/*화면 - 헤더*/;
						overflow-y: scroll; /*콘텐츠에만 스크롤이 적용되도록*/
						}
			
			body { background-color: #222831;
					margin: 0; padding: 0;}
			
					
		</style>
	</head>
	
	<body>
		<!-- 헤더 -->
		<div id="header">
			<!-- 로고 -->
			<div class="logo_btn"><a href="/main"><img src="imgs/header/logo.png"/></a></div>
			
			<!-- 메뉴 -->
			<ul>
				<!-- 콘솔 -->
				<li>
					<div class="menu">
						<a href="/console">CONSOLE</a>
					</div>
				</li>
				
				<!-- pc -->
				<li>
					<div class="menu">
						<a href="/pc">PC</a>
					</div>
				</li>
				
				<!-- 게시판 -->
				<li>
					<div class="menu">
						<a href="/bbs">BBS</a>
					</div>
				</li>
				
				<!-- 신작 -->
				<li>
					<div class="menu">
						<a href="#">NEWS</a>
					</div>
				</li>
				
				<!-- 로그인 버튼-->
				<li th:if="${session.user == null}"> <!-- 세션(user)가 없으면 -->
					<div class="menu">
						<a href="/login"><img src="imgs/header/login.png"/></a>
					</div>
				</li>
				
				<!-- 마이페이지 -->
				<li th:if="${session.user != null}"> <!-- 세션(user)가 있으면 -->
					<div class="mypage"></div>
					<!-- 드롭다운 -->
					<ul class="dropdown">
						<li><a href="/mypage">내 계정</a></li>
						<li><a href="/profile">프로필 설정</a></li>
						<li><a href="/logout">로그아웃</a></li>
					</ul>
				</li>
			</ul>
			
		</div>
		
		<!-- 콘텐츠 -->
		<div id="content">
			<!-- 테이블 -->
			<table>
				<tr th:each = "g : ${gamePage}">
					<td>
						<a href="#">
							
							<div class="container">
							
								<div class="basic">
									
									<div id="img_tb" th:style="'background-image:url('+ ${g.gameUrl} +');'"></div>
									
									<div id="text_tb">
										<div class="title_tb" th:text="${g.gameName}">게임 타이틀</div>
										<div class="genre_tb">게임 장르</div>
									</div>
									
								</div>
								
								<div class="additional">
									
									<div th:if="${g.getDcRate().equals('X') || g.getDcRate().equals('할인 X')}" 
										id="no_dc"
										th:text="${g.price}"><!-- 할인 x -->
											정가
									</div>
									
									<div th:if="${!(g.getDcRate().equals('X') || g.getDcRate().equals('할인 X'))}" 
										id="dc"><!-- 할인 o -->
											<div class="dc_rate" th:text="${g.DcRate}">할인율</div>
											<div class="prices">
												<div class="fir_price" th:text="${g.price}">정가</div>
												<div class="dc_price" th:text="${g.DcPrice}">할인가</div>
											</div>
									</div>
								</div>
								
							</div>
							
						</a>
					</td>
				</tr>
			</table>
			
			
			<!-- 페이징 -->
			<div id="pagination">
				
				<ul>
					
					<li th:if="${currentPage > 1}" class="fir_btn">
			            <a th:href="@{/pc(page=1)}">
			            	<<
			           	</a>
			        </li>
					
			        <li th:if="${startPage >= 10}" class="pv_btn">
			            <a th:href="@{/pc(page=${startPage - 1})}"
			            th:classappend="${startPage > 1} ? '' : 'disabled'">
			            	이전
			           	</a>
			        </li>
			        
			        <li th:each="pageNum : ${#numbers.sequence(startPage, endPage)}" class="page_btn">
			            <a th:href="@{/pc(page=${pageNum})}"
			               th:classappend="${pageNum == currentPage} ? 'current' : ''"
			               th:text="${pageNum}">
			               ${pageNum}
			            </a>
			        </li>
			        
			        <li th:if="${endPage < totalPage}" class="next_btn">
			            <a th:href="@{/pc(page=${endPage + 1})}"
			            th:classappend="${endPage < totalPage} ? '' : 'disabled'">
			            	다음
			            </a>
			        </li>
			        
			        <li th:if="${currentPage < totalPage}" class="last_btn">
			            <a th:href="@{/pc(page=${totalPage})}">
			            >>
			           	</a>
			        </li>
			        
			    </ul>
							
			</div>
			
			
		</div>
		
	</body>
</html>