<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내계정 페이지</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}" href="/css/mypage.css">
</head>
<body background="#222831">
	<form action="#" method="post" enctype="multipart/form-data">
		<div id="logo">
			<div class="link">
				<a href="/main"><img src="imgs/header/logo.png"/></a>
			</div>
		</div>
	
		<!-- 박스 -->
		<div id="left_box">
			<div class="imgbox">
				<img class="img" th:src="${profile_img}">
			</div>
			<span class="left_id" th:text="${userDTO.getID()}"></span>
			<span class="left_email" th:text="${userDTO.getEMAIL()}"></span>
			<hr style="border: 1 solid white;width: 100%;position: absolute;top: 50%;left: 0%; ">
			<button type="button" class="left_btn1" 
			onclick="location.href='/profile'">내 계정</button>
			<button type="button" class="left_btn2"
			onclick="location.href='/mypage'">프로필</button>
		</div>
		
		<div id = "box1">
			<div class = "upload_imgbox">
				<div th:if = "${profiledb != null}">
					
					
				</div>
				<img class="upload_img" th:src="${profile_img}">
			</div>
			
			<div th:if="${profiledb != null}" id="display_nickname">
			    <span th:if="${profiledb.getNICKNAME() != null}" th:text="${profiledb.getNICKNAME()}"></span>
			    <span th:unless="${profiledb.getNICKNAME() != null}" th:text="${userDTO.getID()}"></span>
			</div>

			<span class="nickname_span">별명</span>
			<input type="text" id="input_nickname" th:placeholder="${profiledb.getNICKNAME()}">
			
			<span class="des_span">한줄소개</span>
			<input type="text" id="input_des" th:value="${profiledb.getDESCRIPTION()}">
			
			<button id = "save_btn" type="button">저장</button>
			<span class="img_span">프로필사진</span>
			<input type="file" name="files" id = "inputImg" multiple="multiple"/>
			<input type="button" id="submit" value="저장">
		</div>
		

	</form>
	
	<script src="js/profile_upload.js"></script>
</body>
</html>