@charset "UTF-8";

/*동작*/
			@keyframes logo_animation {
				0% {
					opacity: 0;
				}
				
				100% {
					opacity: 1;
				}
			}
			
			
			@keyframes intro_animation {
				0% {
					opacity: 0;
				}
				
				100% {
					opacity: 0.6;
				}
			}
			
			
			@keyframes btnG_animation {
				0% {
					opacity: 1;
				}
				
				50% {
					opacity: 0;
				}
				
			}
			
			@keyframes page_up_animation {
				0% {
					transform: translateY(500px);
					opacity: 0.5;
				}
				
				100% {
					transform: translateY(0);
					opacity: 1;
				}
			}