@charset "UTF-8";
@import "font.css";

#search-btn{
	            background-image: url("/imgs/header/search.png");
	            border: none;
	            width: 30px;
	            height: 30px;
	            background-position: center;
	            background-repeat: no-repeat;
	            background-size: cover;
	              position: absolute;
	              left: 17%;
	              top: 26%;
	         }
	         
	         ul > a {
				 text-decoration: none;
			 }
			 
			 
			 .left-box > img {
				 width: 50px !important;
			 }
			 
			 .left-box > span {
				 font-family: 'NanumSquareNeo-Variable';
				 color: #000;
			 }
			 
			 #search {
				 font-family: 'NanumSquareNeo-Variable';
				 padding-left: 15px;
			 }