<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내계정 페이지</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}" href="/css/mypage.css">
</head>
<body background="#222831">
	<div id="logo">
		<div class="link">
			<a href="/main"><img src="imgs/header/logo.png"/></a>
		</div>
	</div>
	
	<!-- 박스 -->
	<div id="left_box">
		<div class="imgbox">
			<img class="img" src="/imgs/profleimg.jpg">
		</div>
		<span class="left_id" th:text="${userDTO.getID()}"></span>
		<span class="left_email" th:text="${userDTO.getEMAIL()}"></span>
		<hr style="border: 1 solid white;width: 100%;position: absolute;top: 50%;left: 0%; ">
		<button type="button" class="left_btn1" 
		onclick="location.href='/profile'">내 계정</button>
		<button type="button" class="left_btn2"
		onclick="location.href='/mypage'">프로필</button>
	</div>
	
	<!-- 프로필 사진 설정 -->
	<div class = "select_img">
		
		
	</div>
	
</body>
</html>