<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내계정 페이지</title>
    <link rel="stylesheet" th:href="@{/css/myaccount.css}" href="/css/myaccount.css">
</head>
<body background="#222831">
<script src="js/changeinfo.js"></script>
	<div id="logo">
		<div class="link">
			<a href="/main"><img src="imgs/header/logo.png"/></a>
		</div>
	</div>
	<!-- 왼쪽 박스 -->
	<div id="left_box">
		<div class="imgbox">
			<img class="img" src="/imgs/profleimg.jpg">
		</div>
		<span class="left_id" th:text="${userDTO.getID()}"></span>
		<span class="left_email" th:text="${userDTO.getEMAIL()}"></span>
		<hr style="border: 1 solid white;width: 100%;position: absolute;top: 50%;left: 0%; ">
		<button type="button" class="left_btn1">내 계정</button>
		<button type="button" class="left_btn2"
		onclick="location.href='/mypage'">프로필</button>
	</div>
	
	
	<!-- 오른쪽 첫번째 박스 -->
	<span id="right_span1">기본 정보</span>
	<div id = "right_box1">
		<!-- 아이디 -->
		<div id="id" style="display: block;">
			<span class="right_id" th:text="${userDTO.getID()}"></span>
		</div>
		
		<!-- hiddens input -->
		<div class="edit_Id" style="display: none;" id = "edit_id">
			<input type="text" placeholder="ID"/>
	    </div>
		
		<button type="button" class="id_btn" id="ch_id" onclick="ChangeId()">수정</button>
		<hr style="border: 1 solid white; width: 100%; position: absolute;top: 30%;left: 0%;">
		
		<!-- 이메일 -->
		<div id="email" style="display: block;">
			<span class="right_email" th:text="${userDTO.getEMAIL()}"></span>
		</div>
		<!-- hidden input -->
		<div class="edit_email" id = 'edit_email'  style="display: none;">
			<input type="text" placeholder="Email"/>
	    </div>
		<button type="button" class="email_btn" id="ch_email" onclick="ChangeEmail()">수정</button>
		<hr style="border: 1 solid white; width: 100%; position: absolute;top: 60%;left: 0%;">
		
		<!-- 비밀번호 -->
		<div id="pwd" style="display: block;">
			<span class="right_pwd">*******</span>
		</div>
		
		<!-- hidden pwd -->
		<div class="edit_pw" id="edit_pwd" style="display: none;">
			<input type="password" placeholder="Confirm Password"/>
	    </div>
		
		<button type="button" class="pwd_btn" id="ch_pwd" onclick="ChangePwd()">수정</button>
	</div>
	
	
	<span id="right_span2">기타 설정</span>
	<div id = "right_box2">
		<div th:each="data : ${preferlist}">
			<div>
				<span th:text="${data.getID()}"></span>
				<p th:if="${data.getAction() != null}" th:text="${data.getAction()}"></p>
				<p th:if="${data.getShooting() != null}" th:text="${data.getShooting()}"></p>
				<p th:if="${data.getAdventure() != null}" th:text="${data.getAdventure()}"></p>
				<p th:if="${data.getFighting() != null}" th:text="${data.getFighing()}"></p>
				<p th:if="${data.getRoguelike() != null}" th:text="${data.getRoguelike()}"></p>
				<p th:if="${data.getRPG() != null}" th:text="${data.getRPG()}"></p>
				<p th:if="${data.getMMORPG() != null}" th:text="${data.getMMORPG()}"></p>
				<p th:if="${data.getSimulation() != null}" th:text="${data.getSimulation()}"></p>
				<p th:if="${data.getSports() != null}" th:text="${data.getSprots()}"></p>
				<p th:if="${data.getPuzzle() != null}" th:text="${data.getPuzzle()}"></p>
				<p th:if="${data.getArcade() != null}" th:text="${data.getArcade()}"></p>
				<p th:if="${data.getStrat() != null}" th:text="${data.getStrat()}"></p>
				<p th:if="${data.getHorror() != null}" th:text="${data.getHorror()}"></p>
				<p th:if="${data.getMulti() != null}" th:text="${data.getMulti()}"></p>
				<p th:if="${data.getSingle() != null}" th:text="${data.getSingle()}"></p>
				
			</div>
		</div>

	</div>
	

</body>
</html>
