<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>loco > join</title>
		
		<!-- head에 jquery 불러옴 -->
		  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		    crossorigin="anonymous"></script>
		  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		    crossorigin="anonymous"></script>
		  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		    crossorigin="anonymous"></script>
		    
		<style>
			
			#content {margin-top: 150px;}
			#birth {font-size: 20px; color:black}
			#gender {margin-top: 150px; font-size: 20px; color:black}
			#recommend {margin-top: -10px; font-size: 15px; color: #6D6D6D;}
			#btn {margin-top: 130px; margin-right: 50px}
			#before {margin: 10px}
			#after {margin: 10px}
			
			select {font-size: 15px; margin-top: 20px}
			input {margin-top: 20px}
			body { background-color: #B5B5B5;
					margin: 0; padding: 0;}
		</style>
	</head>
	
	<body>
		<form action ="#"
				th:object="${userDTO}"
				method = "post">
				
		<!-- (email이랑 비번) 안보이게 넘기기 -->
		<input type="hidden"
			th:value="${userDTO.getUserEmail()}"
			th:field="*{userEmail}"
			required/>
			
		<input type="hidden"
			th:value="${userDTO.getUserPwd()}"
			th:field="*{userPwd}"
			required/>
		<!-- -->
		
		<div style="text-align: center;"id="content">
			<div id="birth">
				<p>생일을 알려주세요!</p>
			</div>
			<div id="recommend">
				<p>추천에 활용됩니다.</p>
			</div>
			
			<!-- 생년월일 선택 -->
			<select name="year" id="year" title="년도" class="custom-select" style="text-align: center;width:130px;height:30px;"></select>
			<select name="month" id="month" title="월" class="custom-select" style="text-align: center;width:130px;height:30px;"></select>
			<select name="day" id="day" title="일" class="custom-select" style="text-align: center;width:130px;height:30px;"></select>
			
			<script>
			  $(document).ready(function () {
			    setDateBox();
			  });
			
			  // select box 표시
			  function setDateBox() {
			    var dt = new Date();
			    var year = "";
			    var com_year = dt.getFullYear();
			
			    // 발행 뿌려주기
			    $("#year").append("<option value=''>년도</option>");
			
			    // 올해 기준으로 -80년부터 올해까지 보여줌.
			    for (var y = (com_year - 80); y <= (com_year); y++) {
			      $("#year").append("<option value='" + y + "'>" + y + " 년" + "</option>");
			    }
			
			   // 월(1~12)
				$("#month").append("<option value=''>월</option>");
				for (var i = 1; i <= 12; i++) {
				  $("#month").append("<option value='" + i + "'>" + i + " 월" + "</option>");
				}
				
				// 일(1~30)
				$("#day").append("<option value=''>일</option>");
				for (var i = 1; i <= 30; i++) {
				  $("#day").append("<option value='" + i + "'>" + i + " 일" + "</option>");
				}
				
				// 월 변경 시 일 옵션 업데이트
				$("#month").change(function() {
				  var selectedMonth = parseInt($(this).val());
				  var daysInMonth = 30; // 기본 30일로 설정
				  
				  if ([1, 3, 5, 7, 8, 10, 12].includes(selectedMonth)) {
				    daysInMonth = 31; // 31일로 설정
				  } else if (selectedMonth === 2) {
				    daysInMonth = 28; // 2월은 28일로 설정 (윤년 등의 고려는 하지 않음)
				  }
				  
				  $("#day option").remove(); // 이전에 선택된 월의 옵션 제거
				  
				  for (var i = 1; i <= daysInMonth; i++) {
				    $("#day").append("<option value='" + i + "'>" + i + " 일" + "</option>");
				  }
				});
			  }
			  
			</script>
		
			<div id="gender">
				<p>성별을 선택해주세요.</p>
			</div>
			<div id="recommend">
				<p>추천에 활용됩니다.</p>
			</div>
			<!-- 성별 선택 -->
			<label><input type="radio" name="chk_gender" value="man">남자</label>
			<label><input type="radio" name="chk_gender" value="women">여자</label>
		</div>
		
		<!-- 이전/다음 버튼-->
		<div style="text-align: right;" id="btn">
				<button onclick="action='/join_pwd'; submit();"
					style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
					<img src="imgs/btn/before.png" alt="이전">
				</button>
				<button onclick="action='/join_like'; submit();" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
					<img src="imgs/btn/after.png" alt="다음">
				</button>
		</div>
		
		</form>
	</body>
</html>
