@charset "UTF-8";

/* 배경 이미지 body 부분 꽉차게*/	
			#b_img {z-index: 1;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					/*이미지 디비에서 주소값 받아서 url에 넣기(아래는 예시)*/
					/*기본 이미지 설정해놓고 html에서 th:style줘서 바꾸기*/
					background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/413150/header.jpg?t=1666917466");
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					opacity: 0.6;
					}