@charset "UTF-8";

table, th, tr, td {
					border: 1px solid #fff;
					border-collapse: collapse;}
					
			table {width: 100%;}
			
			tr {height: 180px;
			position: relative; /*tr 기준으로 행 안의 요소들을 정렬하기 위해서*/}
					
			#img_tb {z-index: 1; /*게임 이미지, 왼쪽*/
			
					position: absolute;
					top: 0px;
					left: 0px;
					width: 400px;
					height: 100%;
					
					/*back*/
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					background-color: #fff;
					opacity: 0.6;}
					
			#title_tb {	z-index: 2; /* 테이블의 행에서 위에 표시되도록 */
			
						font-family: 'HS-Regular';
						font-size: 45px;
						color: #fff;
						text-shadow: -2px -2px #000, 2px -2px #000, -2px 2px #000, 2px 2px #000; /* 글자 테두리 */
			
						width: 1000px;
						height: 50px;
						
						/*자식 세로 중앙 정렬*/
						display: flex;
						align-items: center;
			
						/* tr 기준 상대 위치 */
						position: absolute;
						top: 45px;
						left: 425px;}
						
			#genre_tb {	z-index: 2; /* 테이블의 행에서 위에 표시되도록 */
			
						font-family: 'GangwonEdu_OTFBoldA';
						font-size: 25px;
						color: #fff;
						text-shadow: -1.5px -1.5px #000, 1.5px -1.5px #000, -1.5px 1.5px #000, 1.5px 1.5px #000; /* 글자 테두리 */
			
						width: 1000px;
						height: 30px;
						
						/*자식 세로 중앙 정렬*/
						display: flex;
						align-items: center;
			
						/* tr 기준 상대 위치 */
						position: absolute;
						top: 105px;
						left: 425px;}