@charset "UTF-8";
@import "font.css";

/*header*/
			#header {z-index: 1000; /* header가 b_img보다 위에 배치되어야 함*/
					position: absolute;
					top: 0px;
					left: 0px;
					background-color: #545454; width: 100%; height: 100px; /*header 100px 고정 -> (버튼)50 + (상하 여백)25 * 2 */ 
					/*자식 위치 잡기*/
					display: flex;
					justify-content: space-between; /*로고와 메뉴 사이 벌리기*/
					align-items: center;}
			
			/*메뉴 전체*/	
			#header ul {
				list-style: none; /*표 스타일을 없앰*/
			    display: flex;
			    margin: 0;
			    padding: 0;
			}
			
			/*폰트 & 꾸미기*/
			.dropdown a {
				font-family: 'GmarketSansMedium'; /*폰트 설정*/
				font-size: 20px;
				
				text-decoration: none;
				color:#000;
			}
			
			.menu a {
				font-family: 'GmarketSansMedium'; /*폰트 설정*/
				font-size: 25px;
				font-weight: bold;
				
				text-shadow: -2px -2px #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
				
				
				text-decoration: none;
				color:#fff;
			}
			
			#header img {height: 50px;} /*버튼 이미지의 높이는 헤더의 50%*/
			.logo_btn {margin-left: 25px;} /*왼쪽 마진 25px, 메뉴들은 마진 안주고 작업함*/
			
			
			
			
			/*상위 메뉴*/
			#header > ul > li {
				float:left;
				width: 200px;
				height: 100px; /*헤더 높이와 같게*/
				position:relative; /*하위 메뉴 드롭다운 시키기 위해*/
				
				/*자식 중앙 정렬*/
				display: flex;
				align-items: center;
				justify-content: center;
			}
			
			.menu {
				width: 150px;
				height: 50px;
				/*자식 중앙 정렬*/
				display: flex;
				align-items: center;
				justify-content: center;
			}
					
			/*하위 메뉴*/
			#header > ul > li > ul {
				display: none; /*hover여야 나타나게하려고 일단 숨김*/
			    position: absolute;
			    top: 100%; /*부모의 100%, 즉 100px 위치*/
			    left: 0;
			    background-color: #fff;
			    width: 100%; /*부모의 100%, 즉 200px 넓이*/
			} /*드롭다운*/
			
			/*마우스 가져다대면 드롭다운 보임*/
			#header > ul > li:hover > ul {
				display: block;
			}
			
			/*드롭다운 메뉴 박스 설정*/
			#header > ul > li > ul > li {
				height: 60px;
				/*자식 중앙 정렬*/
				display: flex;
				align-items: center;
				justify-content: center;
			} /*드롭다운*/
			
			#header > ul > li > ul > li:hover {
				background-color: lightgrey;
			} /*드롭다운*/
			
			.menu:hover {
				background-color: dimgray; /*마우스 가져다대면 색 바뀜*/
			}
			
			
			
			/*마이페이지용 둥근 버튼*/
			.mypage {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				/*스프링에서 디비로 받아서 이미지 url 바꿔줘야 함*/
				background-image: url("../imgs/header/normal.png"); /*기본 이미지*/
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}