@charset "UTF-8";
/* 게시글 목록 테이블 */
		.post-table {
    		width: 60%;
    		position : relative;
    		margin-left : auto;
    		margin-right : auto;
    		margin-top : 5%;
    		text-align : center;
    	
		}

		.post-table th, .post-table td {
    	padding: 10px;
    	text-align: center;
    	border-bottom: 1px solid #ddd;
    	position: relative;
		}

		.post-table th {
    	background-color: #f2f2f2;
    	padding: 10px;
    	text-align: center;
    	border-bottom: 1px solid #ddd;
    	background-color: #f2f2f2;
    	/* 원하는 너비로 지정 (예: 150px) */
    	width : 1000px;
    	
		}

		/* 게시글 목록 아이템 */
		.post-item {
    	
    	justify-content: space-between;
    	align-items: center;
    	padding: 10px;
    	border-bottom: 1px solid #ddd;
		}
		

		
		/* 게시글 목록 아이템 내 제목 스타일 변경 */
		.post-item .post-title-link {
    	text-decoration: none;
    	color: #333;
    	max-width: 200px; /* 최대 너비를 조정 (원하는 크기로 변경 가능) */
    	overflow: hidden;
    	white-space: nowrap;
    	text-align: left;
    	text-overflow: ellipsis; /* 넘칠 경우 ...으로 표시 */
		}


		.post-item:hover {
    	background-color: #f5f5f5;
		}

		/* 게시글 제목 링크 */
		.post-title-link {
    	text-decoration: none;
    	color: #333;
		}

		/* 반응형 디자인 */
		@media (max-width: 768px) {
    	.board-container {
        padding: 10px;
    	}

 
    	.post-item {
        flex-direction: column;
    	}
    	
    	
    	.post-table{
			width : 60%;
			position:relative;
						
		}
		}
		