body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #ccc; /* 프로필 이미지를 나타낼 색상 */
}

.profile-info {
    text-align: left;
}

.info-item {
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #333;
}

.info-value {
    color: #555;
}