@charset "UTF-8";
@import "font.css";
*{
	font-family: 'GmarketSansMedium';
}
body {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#logo {z-index: 4; /* logo가 b_img보다 위에 배치되어야 함*/
					position: absolute;
					top: 0px;
					left: 0px;
					width: 50px; height: 50px; /*logo 담을 가상 헤더 header 100px 고정 -> 50 + 25 + 25*/ 
					padding-top: 25px; padding-bottom: 25px;}
.link img {height: 50px;} /*로고 이미지*/
.link a {float: left; margin-left: 25px;} /*왼쪽 정렬, 마진 25px*/


/* 프로필 수정 부분 (주영 외 수정 금지!) */
	/*내용*/
        #content {
			margin-left: 900px;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    height: calc(100vh - 100px); /* 헤더 높이를 제외한 높이 */
		}
        
		.info p {font-family: 'GmarketSansMedium';
					font-size: 25pt;
					color: #FFFFFF}
					
        /* 입력란 */
       input[type=password] {
		    width: 300px;
		    height: 40px;
		    padding-left: 30px;
		    font-family: 'GmarketSansMedium';
		    font-size: 10pt;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    margin-bottom: 10px; 
			display: inline-block;
			float: left;
			position: absolute;
			top: 70%;
			left: 0%;
		} 
		#newpwd_re{
		    width: 300px;
		    height: 40px;
		    padding-left: 30px;
		    font-family: 'GmarketSansMedium';
		    font-size: 10pt;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    margin-bottom: 10px; 
			display: inline-block;
			float: left;
			position: absolute;
			top: 70%;
			left: 37%;
		}

#left_box{
	width: 30%; 
	height:100%; 
	float: left;
	background-color:#393E50;
	position: absolute;
	top:0%;
	left: 0%; 
}
.imgbox {
  width: 150px; /* 초기 가로 크기 */
  height: 150px; /* 초기 세로 크기 */
  position: absolute;
  left: 48%;
  top: 22%;
  transform: translate(-50%, -50%); /* 가운데 정렬을 위한 추가 */
  border-radius: 50%; /* 원형 모양으로 설정 */
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left_id{
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	color: white;
	position: absolute;
	top: 35%;
	left : 50%;
	transform: translateX(-50%);
}
.left_email{
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	color: white;
	position: absolute;
	top: 40%;
	left : 50%;
	transform: translateX(-50%);
}

/*왼쪽 계정버튼*/
.left_btn1{
	color: white;
	border: none;
	width: 100%;
	height: 10%;
	background-color: #393E50;
	font-size: 40px;  
	position: absolute; 
	top:52%; 
	left:0px;
}
.left_btn1:hover{ 
	color:ghostwhite; 
	background-color:#CCCCCC;
}
/*왼쪽 프로필버튼*/
.left_btn2{
	color: white;
	border: none;
	width: 100%;
	height: 10%;
	background-color: #393E50;
	font-size: 40px;  
	position: absolute; 
	top:62%; 
	left:0px;
}
.left_btn2:hover{ 
	color:ghostwhite; 
	background-color:#CCCCCC;
}

/* right_box1 */
#right_box1{
	z-index: 1;
	width: 69%; 
	height:30%; 
	float: right;
	background-color:#393E50;
	position: absolute;
	top: 3%;
	left: 30%;
	margin: 0.5%;
}

/*오른쪽 박스 span */
#right_span1{
	font-size: 20px;
	color: white;
	position: absolute;
	top: 0%;
	left: 30%;
	margin-left: 0.5%;
}
#right_span2{
	font-size: 20px;
	color: white;
	position: absolute;
	top: 35%;
	left: 30%;
	margin-left: 0.5%;
}

/*오른쪽첫번째 박스 컴포넌트*/
.right_id{
	font-size: 30px;
	color: white;
	float: left;
	margin-left: 1.5%;
	margin-top:1%;
	position: absolute;
	top: 2%;
	left: 0%;
}

.right_email{
	font-size: 30px;
	color: white;
	float: left;
	margin-left: 3%;
	position: absolute;
	top: 32%;
	left: 0%;
	margin-left: 1.5%;
	margin-top:1.5%;
}
.right_pwd{
	font-size: 30px;
	color: white;
	float: left;
	margin-left: 3%;
	position: absolute;
	top: 62%;
	left: 0%;
	margin-left: 1.5%;
	margin-top:2%;
}

#ck {
	margin-top:40px;
}


/* 오른쪽 수정 버튼 */
/*
.id_btn_f{
	background-color: white;
	border: none;
	width: 80px;
	height: 30px;
	float: right;
	border-radius: 20%;
	font-size: 15px;
	margin-top: 1.5%;
	margin-right: 3%;
	position: absolute;
	top: 5%;
	left: 90%;
	
}
.id_btn_f:hover{
	color:ghostwhite; 
	background-color:#CCCCCC;
}
/* 아이디 변경 버튼
.id_btn{
	background-color: white;
	border: none;
	width: 80px;
	height: 30px;
	float: right;
	border-radius: 20%;
	font-size: 15px;
	margin-top: 1.5%;
	margin-right: 3%;
	position: absolute;
	top: 5%;
	left: 90%;
}
.id_btn:hover{
	color:ghostwhite; 
	background-color:#CCCCCC;
}
/* 이메일 수정버튼
.email_btn_f{
	background-color: white;
	border: none;
	width: 80px;
	height: 30px;
	float: right;
	border-radius: 20%;
	font-size: 15px;
	margin-top: 2%;
	margin-right: 3%;
	position: absolute;
	top: 30%;
	left: 90%;
}
.email_btn_f:hover{
	color:ghostwhite; 
	background-color:#CCCCCC;
}
/* 이메일 변경버튼
.email_btn{
	background-color: white;
	border: none;
	width: 80px;
	height: 30px;
	float: right;
	border-radius: 20%;
	font-size: 15px;
	margin-top: 2%;
	margin-right: 3%;
	position: absolute;
	top: 30%;
	left: 90%;
}
.email_btn:hover{
	color:ghostwhite; 
	background-color:#CCCCCC;
}
*/

/* 비밀번호 수정 */
#input_pwd{
	visibility: hidden;
}
#pwd{
	visibility: visible;
}
#edit_pwd{
	visibility: hidden;
}
#ch_pwd{
	visibility: visible;
}
#ch_pwd_edit{
	visibility: hidden;
}

/* 변경 버튼*/
.pwd_btn{
	background-color: white;
	border: none;
	width: 80px;
	height: 30px;
	float: right;
	border-radius: 20%;
	font-size: 15px;
	margin-top: 2%;
	margin-right: 3%;
	position: absolute;
	top: 65%;
	left: 90%;
}
.pwd_btn:hover{
	color:ghostwhite; 
	background-color:#CCCCCC;
}
/* 기존 비밀번호 확인버튼 */
#check_pwd{
		background-color: white;
	border: none;
	width: 80px;
	height: 30px;
	float: right;
	border-radius: 20%;
	font-size: 15px;
	margin-top: 25px;
	margin-right: 3%;
	position: absolute;
	top: 65%;
	left: 40%;
}

/* right_box2 */
#right_box2{
	z-index: 3;
	width: 69%;
	height: 60%;
	float: right;
	background-color:#393E50;
	position: absolute;
	top: 38%;
	left: 30%;
	margin: 0.5%;
}
.line{
	border-left: thick solid white;
	height: 100%;
	position: absolute;
	top:0%;
	left: 50%;
}
.likeheader{
	font-size: x-large;
	color: white;
	position: absolute;
	top: 0%;
	left: 25%;
}
.dislikeheader{
	font-size: x-large;
	color: white;
	position: absolute;
	top: 0%;
	left: 74%;
}
.dtofontLIKE{
	font-size: large;
	color: white;
	position: absolute;
	top:10%;
	left: 20%;
}
.dtofontDISLIKE{
	font-size: large;
	color: white;
	position: absolute;
	top:10%;
	left: 70%;
}
#checktableLike{
	width: 50%;
	height: 60%;
	position: absolute;
	top: 20%;
	left:0%;
    text-align: center;
    color: white;
    margin: 1px;
    
}
#checktableDislike{
	width: 50%;
	height: 60%;
	position: absolute;
	top: 20%;
	left:50%;
	border: 2px solid white;
    text-align: center;
    color: white;
    margin: 1px;
}

#checktableLike_td{
	border: 1px solid white;
    padding: 10px;
}
#checktableDislike_td{
   border: 1px solid white;
    padding: 10px;
}
#ch_prefer{
	font-size: 15px;
	padding: 5px 10px;
	position: absolute;
	top: 88%;
	left: 40%;
}
#ch_prefer1{
	font-size: 15px;
	padding: 5px 10px;
	position: absolute;
	top: 88%;
	left: 90%;
}

#new_ck {
	margin-top: -15px;
}
