body {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#logo {z-index: 4; /* logo가 b_img보다 위에 배치되어야 함*/
					position: absolute;
					top: 0px;
					left: 0px;
					width: 50px; height: 50px; /*logo 담을 가상 헤더 header 100px 고정 -> 50 + 25 + 25*/ 
					padding-top: 25px; padding-bottom: 25px;}
.link img {height: 50px;} /*로고 이미지*/
.link a {float: left; margin-left: 25px;} /*왼쪽 정렬, 마진 25px*/

#left_box{
	z-index: 3;
	width: 30%; 
	height:100%; 
	float: left;
	background-color:#393E50;
	position: absolute;
	top:0%;
	left: 0%; 
}
.imgbox{
	width: 150px; 
    height: 150px;  
    border-radius: 70%; 
    position: absolute; 
    left: 32%; 
    top : 12%; 
    overflow: hidden; 
}
.img{ 
	width: 100%; 
    height:100%; 
    object-fit: cover; 
}
.left_id{
	font-size: 25px;
	color: white;
	position: absolute;
	top: 35%;
	left : 36%;
}
.left_email{
	font-size: 25px;
	color: white;
	position: absolute;
	top: 40%;
	left : 25%;
}

/*왼쪽 계정버튼*/
.left_btn1{
	color: white;
	border: none;
	width: 100%;
	height: 10%;
	background-color: #393E50;
	font-size: 40px;  
	position: absolute; 
	top:52%; 
	left:0px;
}
.left_btn1:hover{ 
	color:ghostwhite; 
	background-color:#CCCCCC;
}
/*왼쪽 프로필버튼*/
.left_btn2{
	color: white;
	border: none;
	width: 100%;
	height: 10%;
	background-color: #393E50;
	font-size: 40px;  
	position: absolute; 
	top:62%; 
	left:0px;
}
.left_btn2:hover{ 
	color:ghostwhite; 
	background-color:#CCCCCC;
}

/* 프로필 사진 설정*/
.select_img{
	width: 30%; 
	height:100%; 
	float: right;
	background-color:#393E50;
	position: absolute;
	top:0%;
	left: 0%;
}