body {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    overflow-y: hidden;
}
#logo {z-index: 4; /* logo가 b_img보다 위에 배치되어야 함*/
					position: absolute;
					top: 0px;
					left: 0px;
					width: 50px; height: 50px; /*logo 담을 가상 헤더 header 100px 고정 -> 50 + 25 + 25*/ 
					padding-top: 25px; padding-bottom: 25px;}
.link img {height: 50px;} /*로고 이미지*/
.link a {float: left; margin-left: 25px;} /*왼쪽 정렬, 마진 25px*/

#left_box{
	z-index: 3;
	width: 30%; 
	height:100%; 
	float: left;
	background-color:#393E50;
	position: absolute;
	top:0%;
	left: 0%; 
}
.imgbox{
  width: 150px; /* 초기 가로 크기 */
  height: 150px; /* 초기 세로 크기 */
  position: absolute;
  left: 48%;
  top: 22%;
  transform: translate(-50%, -50%); /* 가운데 정렬을 위한 추가 */
  border-radius: 50%; /* 원형 모양으로 설정 */
  overflow: hidden;
}
.img{ 
	width: 100%; 
    height:100%; 
    object-fit: cover; 
}
.left_id{
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	color: white;
	position: absolute;
	top: 35%;
	left : 38%;
}
.left_email{
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	color: white;
	position: absolute;
	top: 40%;
	left : 28%;
}

/*왼쪽 계정버튼*/
.left_btn1{
	color: white;
	border: none;
	width: 100%;
	height: 10%;
	background-color: #393E50;
	font-size: 40px;  
	position: absolute; 
	top:52%; 
	left:0px;
}
.left_btn1:hover{ 
	color:ghostwhite; 
	background-color:#CCCCCC;
}
/*왼쪽 프로필버튼*/
.left_btn2{
	color: white;
	border: none;
	width: 100%;
	height: 10%;
	background-color: #393E50;
	font-size: 40px;  
	position: absolute; 
	top:62%; 
	left:0px;
}
.left_btn2:hover{ 
	color:ghostwhite; 
	background-color:#CCCCCC;
}

/* 프로필 사진 설정*/
#box1{
	z-index: 3;
	width: 67%; 
	height:77%; 
	float: left;
	background-color:#393E50;
	position: absolute;
	top:20%;
	left: 32%; 
}
.upload_imgbox{
	width: 200px; /* 초기 가로 크기 */
  	height: 200px; /* 초기 세로 크기 */
  	position: absolute;
  	left: 15%;
  	top: 5%;
  	transform: translate(-50%, -50%); /* 가운데 정렬을 위한 추가 */
  	border-radius: 50%; /* 원형 모양으로 설정 */
  	overflow: hidden;
}
.upload_img{
	width: 100%; 
    height:100%; 
    object-fit: cover; 
}

#display_nickname{
	font-size: 25px;
	color: white;
	position: absolute;
	top:25%;
	left:12%;
}
#display_email{
	font-size: 25px;
	color: white;
	position: absolute;
	top:29%;
	left:12%;
}


.nickname_span{
	font-size: 20px;
	color: white;
	position: absolute;
	top:16%;
	left:30%;
	float: left;
}
#input_nickname{
	width: 600px;
	height: 50px;
	position: absolute;
	top: 16%;
	left: 35%;
}
.des_span{
	font-size: 20px;
	color: white;
	position: absolute;
	top:29%;
	left:26%;
	float: left;
}
#input_des{
	width: 600px;
	height: 310px;
	position: absolute;
	top: 29%;
	left: 35%;
}
.img_span{
	font-size: 20px;
	color: white;
	position: absolute;
	top:80%;
	left:24%;
	float: left;
}
#save_btn{
	width: 80px;
	height: 30px;
	cursor: auto;
	font-size: 15px;
	border-radius: 35%;
	background-color: white;
	position: absolute;
	top: 90%;
	left: 85%;
}
#save_btn:hover{ 
	color:rgb(192, 192, 192); 
	background-color:#CCCCCC;
}
#inputImg{
	width: 100px;
	height: 50%;
	position: absolute;
	top:80%;
	left:33%;
}
#submit{
	width: 80px;
	height: 30px;
	position: absolute;
	top:80%;
	left:47%;
}

