<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    
    <link rel="stylesheet" href="css/list.css"> <!-- 게시판 css -->
    <style>
		/* 게시판 컨테이너 */
		.board-container {
    		max-width: 100%;
    		margin: 0 auto;
    		padding: 20px;
		}

		
	</style>
</head>

<body>
    <div class="board-container">
    <table class="post-table">
        <thead>
            <tr>
                <th class="custom-width" style="width:60%;">제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>댓글</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "post : ${postDTO}">
                <td>
                    <a class="post-title-link" href="#"><div th:text="${post.title}"></div></a>
                </td>
                <td><div th:text="${post.writer}"></div></td>
                <td>2023-09-25</td>
                <td>25</td>
                <td>12</td>
            </tr>
            <tr th:each = "post : ${postDTO}">
                <td>
                    <a class="post-title-link" href="#"><div th:text="${post.title}"></div></a>
                </td>
                <td><div th:text="${post.writer}"></div></td>
                <td>2023-09-26</td>
                <td>33</td>
                <td>26</td>
            </tr>
            <!-- 추가적인 게시글 아이템들을 동적으로 생성하거나 서버에서 데이터를 가져와서 출력하세요. -->
        </tbody>
    </table>
</div>
</body>
</html>
